/** corpo da página **/
body{ margin: 0; padding: 0; font-family: sans-serif; background: #2980b9;}
/** formulário de edição **/
.card{ width: 300px; padding: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #3498db; text-align: center; border: 2px solid black;}
.card:hover{ border: 3px solid black;}
.card h1{ color: black; text-transform: uppercase; font-weight: 500;}
.card ::placeholder{ color: black; font-family: sans-serif;}
.card input[type="text"]{ border: 0; background: none; display: block; margin: 20px auto; text-align: center; border: 2px solid black; padding: 14px 20px; width: 200px; outline: none; color: black; border-radius: 24px; transition: 0.25s;}
.card input[type="text"]:focus{ width: 250px; border-color: black;}
.card input[type="text"]:hover{ width: 250px; border-color: black;}
.card input[type="text"]:invalid{ border-color: red;}
.card input[type="submit"]{ border: 0; background: none; display: block; margin: 20px auto; text-align: center; border: 2px solid black; padding: 14px 40px; outline: none; color: black; border-radius: 24px; transition: 0.25s; cursor: pointer;}
.card input[type="submit"]:hover{ background: #2980b9; border-color: black; }